@model IEnumerable<ishop.Models.IshopSystemUser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="CreateSystemUser">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DisplayName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuUsername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuPassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuProfilePic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuRole)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Extra)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuUsername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuPassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuProfilePic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuRole)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Extra)
            </td>
            <td>
                <a asp-action="EditSystemUser" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="DetailsSystemUser" asp-route-id="@item.Id">Details</a> |
                <a asp-action="DeleteSystemUser" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
