@model ishop.Models.IshopCategory

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>IshopCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ParentId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ParentId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CatName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CatName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CatShortDetail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CatShortDetail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CatDetail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CatDetail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CatFeatureImg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CatFeatureImg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CatPic2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CatPic2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CatMetaTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CatMetaTitle)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.CatMetaDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CatMetaDescription)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.CatMetaKeywords)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CatMetaKeywords)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsFeature)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsFeature)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ranking)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ranking)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShowMenu)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShowMenu)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShowFooter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShowFooter)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShowHome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShowHome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GoogleCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GoogleCategory)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AddedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AddedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Extra)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Extra)
        </dd>
    </dl>
    
    <form asp-action="DeleteCategory">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="IndexCategory">Back to List</a>
    </form>
</div>
