@model IEnumerable<ishop.Models.IshopProduct>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content-header">
    <h1>
        Products
        <small class="text-bold text-success">3</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">All Products</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Products</h3>
                </div>
                <!-- /.box-header -->

                <div class="box-body">

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Product Name</label>
                                <input type="text" class="form-control" placeholder="Enter Product">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Parent Category</label>
                                <input type="email" class="form-control" placeholder="Enter Parent Category">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Status</label>
                                <input type="email" class="form-control" placeholder="Enter Status">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">

                                <button type="submit" class="btn btn-primary">Search</button> |
                                <button type="submit" class="btn btn-success">Reset</button>
                            </div>
                        </div>
                    </div>
                    <a asp-action="CreateProduct" class="btn btn-danger">Add new Product</a>

                    <hr />

                    <table id="example1" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.ProdName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CategoryId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ItemCode)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ProdFeatureImg)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Ranking)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.AddedDate) | by
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UpdatedDate)| by
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProdName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CategoryId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ItemCode)
                                    </td>
                                    <td>
                                        <img src="~/Images/Products/@Html.DisplayFor(modelItem => item.ProdFeatureImg)" style="max-width:85px;" />

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Ranking)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AddedDate) |
                                        @Html.DisplayFor(modelItem => item.AddedBy)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UpdatedDate)|
                                        @Html.DisplayFor(modelItem => item.UpdatedBy)

                                    </td>
                                    <td>
                                        <a asp-action="EditProduct" asp-route-id="@item.Id">Edit</a> |
                                        <a asp-action="DetailsProduct" asp-route-id="@item.Id">Details</a> |
                                        <a asp-action="DeleteProduct" asp-route-id="@item.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>


                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(function () {
            $('#example1').DataTable();
        })
    </script>

}
